<div class="projects-center">
    <div class="projects-flex">
        <div class="projects-content">
            <h2>Projects</h2>
            <ul class="projects-list">
                <li>
                    <span class="project-title">Calculator</span>
                    <span class="project-command"><code>run calc</code></span>
                </li>
                <li>
                    <span class="project-title">Game</span>
                    <span class="project-command"><code>run game</code></span>
                </li>
                <li>
                    <span class="project-title">Sound</span>
                    <span class="project-command"><code>run sound</code></span>
                </li>
            </ul>
        </div>
        <div class="projects-side">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-terminal></app-terminal>
</div>