<div class="projects-center">
    <div class="projects-main">
        <h2>Projects</h2>
        <ul class="projects-list">
            <li>
                <span class="project-title">Calculator</span>
                <span class="project-command"><code>run calc</code></span>
            </li>
            <li>
                <span class="project-title">Clock</span>
                <span class="project-command"><code>run clock</code></span>
            </li>
            <li>
                <span class="project-title">Game</span>
                <span class="project-command"><code>run game</code></span>
            </li>
            <li>
                <span class="project-title">Sound</span>
                <span class="project-command"><code>run sound</code></span>
            </li>
            <li>
                <span class="project-title">Terminate</span>
                <span class="project-command"><code>kill "program name"</code></span>
            </li>
        </ul>
    </div>
    <div class="projects-side">
        <div class="projects-side-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>