<div class="calculator-container" tabindex="0" (keydown)="onKey($event)">
    <div class="calculator-display">
        <span>{{ display || '0' }}</span>
        <button class="clear-btn" (click)="clear()" title="Clear">C</button>
    </div>
    <div class="calculator-keys">
        <ng-container *ngFor="let row of keys">
            <div class="calculator-row">
                <button *ngFor="let key of row" (click)="press(key)" [class.equals]="key === '='">
                    {{ key }}
                </button>
            </div>
        </ng-container>
    </div>
</div>