button {
    background: var(--foreground);
    color: var(--background);
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
    transition: background 0.3s, color 0.3s, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    &:hover,
    &:focus {
        background: var(--primary);
        color: var(--background);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }
}

.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &.bottom {
        flex-direction: column;

        .main-content {
            flex: 1 1 auto;
            overflow: hidden;
            height: 100%;
        }

        app-terminal {
            flex: 0 0 auto;
        }
    }

    &.left {
        flex-direction: row;

        .main-content {
            flex: 1 1 auto;
            overflow: hidden;
            height: 100%;
        }

        app-terminal {
            flex: 0 0 auto;
        }
    }

    &.right {
        flex-direction: row-reverse;

        .main-content {
            flex: 1 1 auto;
            overflow: hidden;
            height: 100%;
        }

        app-terminal {
            flex: 0 0 auto;
        }
    }
}