<div class="terminal-container" [ngClass]="pinPosition" [class.minimized]="isMinimized" [style.height.px]="height">
    <div #resizeHandle class="terminal-resize-handle"></div>
    <div class="terminal-toolbar">
        <app-themetoggle></app-themetoggle>
    </div>
    <div class="terminal" *ngIf="!isMinimized" (click)="focusInput()">
        <div class="terminal-lines" #linesContainer>
            <div *ngFor="let line of lines" [innerHTML]="line">{{ line }}</div>
        </div>
        <div class="terminal-input">
            <span>&gt;</span>
            <input #terminalInput [(ngModel)]="input" (keydown)="handleInput($event)" autocomplete="off"
                spellcheck="false" (focus)="isInputFocused = true" (blur)="isInputFocused = false"
                (click)="$event.stopPropagation()" />
        </div>
    </div>
</div>