<div class="editor-ide">
    <div class="editor-toolbar">
        <button (click)="runCode()">Run</button>
    </div>
    <div class="editor-main">
        <div #monacoContainer class="monaco-editor-container"></div>
    </div>
    <div class="editor-output">
        <div *ngIf="output"><strong>Output:</strong>
            <pre>{{ output }}</pre>
        </div>
        <div *ngIf="error" class="editor-error"><strong>Error:</strong>
            <pre>{{ error }}</pre>
        </div>
    </div>
</div>